{% extends "base.html" %}
{% block title %}トップページ{% endblock %}
{% block content %}
    <h2>ようこそ{% if username %}{{ username }}{% else %}ゲスト{% endif %}さん</h2>
    
    <p>
        {% if not username %}
            <a href="{{ url_for('auth.login') }}">ログイン画面へ</a><br>
            <a href="{{ url_for('products.list') }}">商品一覧を見る</a>
        
        {% else %}
            <a href="{{ url_for('auth.logout') }}">ログアウト</a><br>
            <a href="{{ url_for('products.list') }}">商品一覧を見る</a><br>

            {% if role == 'admin' %}
                <a href="{{ url_for('products.admin_list') }}">管理者画面へ</a>
            {% endif %}
        {% endif %}
    </p>
{% endblock %}