{% extends "base.html" %}
{% block title %}【管理】商品編集{% endblock %}
{% block content %}
    <h2>商品編集</h2>
    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
    
    <form action="/products/edit/{{product.id}}" method="POST">
        <table border="1">
            <tr>
                <td>商品コード</td>
                <td><input type="hidden" name="id" value={{product.id}}>{{product.id}}</td>
                <td><font color ="red"></font></td>
            </tr>
            <tr>
                <td>商品名</td>
                <td><input type="text" name="name" value={{product.name}}></td>
                <td><font color ="red">{{error.name}}</font></td>
            </tr>
            <tr>
                <td>価格</td>
                <td><input type="text" name="price" value={{product.price}}></td>
                <td><font color ="red">{{error.price}}</font></td>
            </tr>
            <tr>
                <td>詳細</td>
                <td><textarea name="description">{{product.description}}</textarea></td>
                <td><font color ="red">{{error.detail}}</font></td>
            </tr>
        </table>
        <br>
        
            <input type="submit" value ="更新">
    </form>

    <br>
    
    <p><a href="{{ url_for('products.admin_list') }}">キャンセル</a></p>
{% endblock %}