{% extends "base.html" %}
{% block title %}商品詳細{% endblock %}
{% block content %}
    <h2>商品詳細</h2>
    <h3>{{ product.name }}</h3>
    <p>価格: <strong>{{ product.price }}円</strong></p>
    <p>説明:<br>{{ product.description }}</p>
    
    <form action="{{ url_for('products.add_cart',product_id = product.id) }}" method="post">
        <input type="hidden" name="product_id" value="{{ product.id }}">
        <label>数量: <input type="number" name="quantity" value="1" min="1"></label>
        <input type="submit" value="カートに入れる">
    </form>
    <br>
    <a href="{{ url_for('products.list') }}">一覧に戻る</a>
{% endblock %}